<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Assignment1">
    <classes>
      <class name="Assignment1.Assignment1"/>
      <class name="Assignment2.Assignment2"/>
      <class name="Assignment3.Assignment3"/> 
      <class name="Assignment5.Assignment5"/> 
      <class name="Assignment6.Assignment6"/>
      <class name="Assignment7.Assignment7"/> 
      <class name="Assignment8.Assignment8"/> 
       <class name="Assignment9.Assignment9"/> 
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
